{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    关于我
{% endblock %}

{% block post %}
    <label for="">访客你好！</label><br>
    <label for="">本站建于8102的某一天，采用Django编写 + Nginx + Gunicorn 上线部署 </label>
    <br>
    <label for="">纯粹的本着学习的态度，多数内容并非原创，而是自我学习的笔记</label>
    <br>
    <label for="">网站问题还有很多，还很辣鸡，还请关照</label>
    <br>
    <label for="">问题讨论请联系邮箱17611395912@163.com/caoyongqi456@gmail.com</label>
    <br>
    <label for="">若您有什么珍贵的意见或者想法随时联系。</label>
    <br>
    <label for="">谢谢</label>

{% endblock %}