{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    login
{% endblock %}
{% block post %}
    {% if request.user.is_authenticated %}
        <div class="alert alert-danger" role="alert">已登錄！</div>
    {% else %}
        <form class="form-horizontal" method="post" action="{% url 'User:login' %}">
            {% csrf_token %}
            <div class="form-group has-success has-feedback" id="name_1">
                <label class="control-label">用户名</label>
                <input type="text" class="form-control" id="inputSuccess1" name="username" placeholder="输入名字"
                       aria-describedby="inputSuccess2Status"><span id="errorname" style="color: red;"></span>
                <span id="inputSuccess2Status" class="sr-only"></span>
                <span class="" aria-hidden="true" id="input_name"></span>


            </div>
            <div class="form-group has-success has-feedback" id="pwd_2">
                <label class="control-label">密码</label>
                <input type="password" class="form-control" id="inputSuccess2" placeholder="输入密码" name="password"
                       aria-describedby="inputSuccess2Status"><span id="num1pwd" style="color: red;"></span>
                <span class="" aria-hidden="true" id="input_pwd1"></span>
                <span id="inputError2Status" class="sr-only"></span>
            </div>
            <br>


            <div class="form-group has-success has-feedback">
                <input type="submit" value="登录" class="form-control"
                       aria-describedby="inputSuccess2Status" id="but">
            </div>

            <input type="hidden" name="next" value="{{ next }}">
        </form>
           其他方式登录：
        <a href="{% url 'User:github_login' %}">
           <img src="{% static 'images/github.jpg' %}" alt="
                            ..."
                class="img-circle"
                height="50"
                width="100">
        </a>
    {% endif %}
    {% if msg %}
        <div class="alert alert-danger" role="alert">{{ msg }}</div>

    {% endif %}


{% endblock %}
{% block js %}
    <script>
        $('#inputSuccess1').blur(function () {
            var values = $(this).val();
            if (values == '') {
                $('#errorname').text('用户名不能为空!');
                $('#input_name').addClass('glyphicon glyphicon-remove form-control-feedback');
                $('#name_1').removeClass('has-success').addClass('has-error');
            } else {
                $('#input_name').removeClass('glyphicon glyphicon-remove form-control-feedback').addClass('glyphicon glyphicon-ok form-control-feedback');
                $('#name_1').addClass('has-success').removeClass('has-error');
                $('#errorname').text('')
            }
        });
        $('#inputSuccess2').blur(function () {
            var values = $(this).val();
            var count = $(this).val().length;
            if (values == '') {
                $('#input_pwd1').addClass('glyphicon glyphicon-remove form-control-feedback');
                $('#pwd_2').removeClass('has-success').addClass('has-error');
                $('#num1pwd').text('密码不能为空!')
            } else if (count < 6) {
                $('#num1pwd').text('密码位数不能小于6位! ');
                $('#input_pwd1').addClass('glyphicon glyphicon-remove form-control-feedback');
                $('#pwd_2').removeClass('has-success').addClass('has-error');
            } else {

                $('#input_pwd1').removeClass('glyphicon glyphicon-remove form-control-feedback').addClass('glyphicon glyphicon-ok form-control-feedback');
                $('#num1pwd').text('');
                $('#pwd_2').removeClass('has-error').addClass('has-success')
            }
        });
        $('#but').click(function () {
            var nowTime = new Date().getTime();
            var clickTime = $(this).attr('ctime');
            if (clickTime != 'undefined' && (nowTime - clickTime < 5000)) {
                alert('操作过于频繁！');
                return false;
            } else {
                $(this).attr('ctime', nowTime);
            }
        })
    </script>
{% endblock %}