{% extends 'base.html' %}
{% block title %}
    Modify
{% endblock %}
{% block post %}
    <form action="{% url 'User:modify' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group has-success has-feedback" id="name_1">
            <label class="control-label">用户名</label>
            <p class="form-control-static" id="name1">{{ request.user }}</p>
        </div>
        <div class="form-group has-success has-feedback" id="pwd_2">
            <label class="control-label">密码</label>
            <input type="password" class="form-control" id="inputSuccess2" placeholder="输入密码" name="password"
                   aria-describedby="inputSuccess2Status"><span id="num1pwd" style="color: red;"></span>
            <span class="" aria-hidden="true" id="input_pwd1"></span>
            <span id="inputError2Status" class="sr-only"></span>
        </div>

        <div class="form-group has-success has-feedback" id='ema'>
            <label class="control-label">邮箱</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" id="inputGroupSuccess1"
                       aria-describedby="inputGroupSuccess1Status" name="email">
            </div>
            <span id="erroremail" style="color: red;"></span>
            <span class="" aria-hidden="true" id="input_email"></span>
            <span id="inputGroupSuccess1Status" class="sr-only"></span>
        </div>

        <br>
        <div class="form-group has-success has-feedback ">
            <input type="submit" value="确定" class="form-control"
                   aria-describedby="inputSuccess2Status" id="but">
        </div>

    </form>
    {% if msg %}
        <div class="alert alert-danger" role="alert">{{ msg }}</div>

    {% endif %}
{% endblock %}
{% block js %}
    <script>
        $('#inputGroupSuccess1').blur(function () {
            var value = $(this).val();
            if (value == '') {
                $('#erroremail').text('邮箱不能为空！');
                $('#input_email').removeClass('glyphicon glyphicon-ok form-control-feedback').addClass('glyphicon glyphicon-remove form-control-feedback');
                $('#ema').removeClass('has-success').addClass('has-error');

            } else if (!value.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/)) {
                $('#erroremail').text('邮箱格式错误！');
                $('#input_email').removeClass('glyphicon glyphicon-ok form-control-feedback').addClass('glyphicon glyphicon-remove form-control-feedback');
                $('#ema').removeClass('has-success').addClass('has-error');

            } else {


                console.log(value);
                $.post('{% url "User:modify_check" %}', {
                    'email': value,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, function (data) {
                    if (data.email == 'ok') {
                        $('#erroremail').text('');
                        $('#input_email').removeClass('glyphicon glyphicon-remove form-control-feedback').addClass('glyphicon glyphicon-ok form-control-feedback');
                        $('#ema').removeClass('has-error').addClass('has-success')
                    } else {
                        $('#erroremail').text('邮箱错误！');
                        $('#input_email').removeClass('glyphicon glyphicon-ok form-control-feedback').addClass('glyphicon glyphicon-remove form-control-feedback');
                        $('#ema').removeClass('has-success').addClass('has-error');
                    }

                });

            }

        });
        $('#inputSuccess2').blur(function () {
            var values = $(this).val();
            var count = $(this).val().length;
            if (values == '') {
                $('#input_pwd1').addClass('glyphicon glyphicon-remove form-control-feedback');
                $('#pwd_2').removeClass('has-success').addClass('has-error');
                $('#num1pwd').text('密码不能为空!')
            } else if (count < 6) {
                $('#num1pwd').text('密码位数不能小于6位 ');
                $('#input_pwd1').addClass('glyphicon glyphicon-remove form-control-feedback');
                $('#pwd_2').removeClass('has-success').addClass('has-error');
            } else {
                var username = $('#name1').text();
                $.post("{% url 'User:modify_check' %}", {
                    'password': values,
                    'username': username,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, function (data) {
                    if (data.password == 'fall') {
                        $('#input_pwd1').addClass('glyphicon glyphicon-remove form-control-feedback');
                        $('#pwd_2').removeClass('has-success').addClass('has-error');
                        $('#num1pwd').text('密码错误!')
                    } else {
                        $('#input_pwd1').removeClass('glyphicon glyphicon-remove form-control-feedback').addClass('glyphicon glyphicon-ok form-control-feedback');
                        $('#num1pwd').text('');
                        $('#pwd_2').removeClass('has-error').addClass('has-success')
                    }
                });


            }
        });

    </script>
{% endblock %}